<html>
    <body>
        <h1>From {{origin}} to {{ destination }}:</h1>
        {% for flight in flights %}
            from: {{flight.departureDate}} to {{flight.returnDate}}
            price: {{flight.price.total}}
        </br>
        {% endfor%}
        </br>
        The cheapest flight(s) were:
        </br>
        {% for flight in cheapest_flights %}
            from: {{flight.departureDate}} to {{flight.returnDate}}
            price: {{flight.price.total}}
        </br>
        {% endfor%}
        </br>
        <a href="{{url_for('home')}}">Go back</a>
    </body>
</html>